{% extends 'base.html' %}
{% load static %}

{% block meta%}

                
{% endblock meta %}

{% block main %}
<div class="container h-100">
    <section class="py-3 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light mb-3 theme-color">Sprogin underviser, vejleder og rådgiver inden for børns sprog og bæredygtig inklusion
            </h1>
            <p class="lead text-muted">Sprogin er professionsrettet, udviklingsorienteret og forskningsbaseret. Sprogin arbejder med en helhedsforståelse af børn, voksne og unge i sproglige eller kognitive udfordringer med inddragelse af alle aktører med henblik på at skabe bæredygtige, kvalitetsorienterede løsninger.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Kursuskatalog</a>
              <a href="#" class="btn btn-success my-2">Læs mere</a>
              
            </p>
          </div>
        </div>
      </section>
    </div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="pb-2">Seneste bøger</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for elem in books %}
        <div data-aos="fade-up" class="col">
          <div class="card h-100">
            <a data-lightbox="bøger" data-title="{{elem.titel}}" href="{{elem.billede.url}}" ><img style="height: 200px; object-fit: cover;" src="{{elem.billede.url}}" class="card-img-top" alt="{{elem.titel}} Bog"></a>
            <div class="card-body">
              <h5 class="card-title">{{elem.titel}}</h5>
              <p class="card-text">{{elem.tekst|safe}}</p>
      
            </div>
            {% if elem.forlag or elem.link %}
            <div class="card-footer">
              {% if elem.forlag %}<small class="text-muted float-start">{{elem.forlag}} Forlag - {{elem.year}}</small>{% endif %}
              {% if elem.link %}<a href="{{elem.link}}" class="float-end">Link</a>{% endif %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      
      </div>
    </div>

    <div class="container py-4">
        <div class="row">
          <div class="col-lg-12 text-center">
        <h1 class="pb-4">Seneste Plakater</h1>
    </div>
      
      
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 ">
        {% for elem in plakater %}
        <div  class="col text-center">
          <div data-aos="fade-up" class="card h-100" style="max-width: 18rem;">
              <a data-lightbox="plakater" data-title="{{elem.titel}}" href="{{elem.billede.url}}" ><img style="height: 200px; object-fit: cover;" src="{{elem.billede.url}}" class="card-img-top " alt="..."></a>
              <div  class="card-body">
                  <h5 class="card-title">{{elem.titel}}</h5>
                  <a href="#" class="btn btn-primary w-100">Download</a>
              </div>
            </div>
        </div>
        {% endfor %}
      
      
      </div>
      </div>
      </div>

      <div class="container  py-1">
        <div class="row">
          <div class="col-12">
<h2>Børnemiljøvurdering</h2>
<p>Hos Sprogin kan du blive certiciferet i de internationalt anerkendte ERS materialer (Enviromental Rating Scales) ECERS-3, ITERS-R, FCCERS-R og SACERS.

    Disse materialers gyldighed og pålidelighed er dokumenteret forskningsmæssig. Se Danmarks Evalueringsinstitut EVAs overblik over måleredskaber:  ERS-materialerne er oversat til dansk af Helle Iben Bylander og Trine Kjær Krogh i tæt samarbejde med Debby Cryer og ERS instituttet.
    
    En Certificering tager minimum 4 dage og koster 16.500 kr. eksklusiv moms pr. person.
    
    Det anbefales, at du hvert år bliver recertificeret, således at du løbende sikre at dine vurderinger fortsat er reliable.</p>
          </div>
        </div>
      </div>

{% endblock main %}