{% extends 'base.html' %}
{% load static %}

{% block meta%}

                
{% endblock meta %}

{% block main %}
<div class="container h-100">
  
    <section class="container pb-5">
        <div class="row py-lg-4">
          </div>
          {% if om.billede %}
          <div class="row">
            <div class="col-lg-2">
              <div class="list-group">
                <a href="{% url 'index:omsprogin' %}" class="list-group-item list-group-item-action" aria-current="true">
                  Om Sprogin
                </a>
                {% for elem in about %}
                <a href="{% url 'index:omsprogindetailed' slug=elem.slug %}" class="list-group-item list-group-item-action {% if request.resolver_match.kwargs.slug == elem.slug %} active{% endif %}">{{elem.titel}}</a>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-8">
              <h1>{{om.titel}}</h1>
              <br>
              {{om.tekst|safe}}
            </div>
            <div class="col-lg-2">
              <img style="max-width: 100%;" class="rounded" src="{{om.billede.url}}">
            </div>
          </div>
          {% else %}
          <div class="row mb-5">
            <div class="col-lg-8 offset-lg-2">
              <h1>{{om.titel}}</h1>
              <br>
              {{om.tekst|safe}}
            </div>
          {% endif %}
          </div>
        </div>
      </section>
    </div>





  </div>
{% endblock main %}