{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" />
                
{% endblock meta %}

{% block main %}




<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
  <h1 class="pb-2">Plakater</h1>



<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for elem in plakater %}
  <div class="col text-center">
    <div class="card h-100" style="max-width: 18rem;">
        <a data-lightbox="plakater" data-title="{{elem.titel}}" href="{{elem.billede.url}}" ><img style="height: 200px; object-fit: cover;" src="{{elem.billede.url}}" class="card-img-top " alt="..."></a>
        <div  class="card-body">
            <h5 class="card-title">{{elem.titel}}</h5>
            <a href="#" class="btn btn-primary w-100">Download</a>
        </div>
      </div>
  </div>
  {% endfor %}


</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.js" integrity="sha512-0rYcJjaqTGk43zviBim8AEjb8cjUKxwxCqo28py38JFKKBd35yPfNWmwoBLTYORC9j/COqldDc9/d1B7dhRYmg==" crossorigin="anonymous"></script>

<script>
    lightbox.option({
      'resizeDuration': 1,
      'wrapAround': true,
      'albumLabel': "Billede %1 af %2",
      'fadeDuration': 10,
      'imageFadeDuration': 10
    })
    
  </script>
{% endblock main %}